@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

.barra_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_nav a {
    padding: 0.25rem;
    text-align: center;
}

.products {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: snow;
    transition: transform 0.2s ease-in-out;
}
.products:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5px 0px rgba(200,185,185,0.5);
}
.products img {
    padding: 0.25rem;
    width: 100%;
}

.products span, .products a {
    text-align: center;
    width: 80%;
}

.barra_footer {
    display: flex;
    flex-direction: row;
}

.barra_footer a {
    padding: 0.25rem;
}