@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

.barra_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_nav a {
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 0.25rem;
    justify-content: center;
    justify-items: center;
}

.productCard {
    display: flex;
    height: 300px;
    flex-direction: column;
    margin: 0.25rem 0.5rem;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    transition: transform 0.2s ease-in-out;
}

.productCard:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px 0px rgba(200, 185, 185, 0.5);
}

.imgCard {
    padding: 0.25rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.productCard span,
.productCard a {
    text-align: center;
    width: 80%;
}
.cardBtn{
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: darkgrey;
    color: darkslategrey;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 0px rgba(200, 185, 185, 0.5);
    cursor: pointer;
}

.cardBtn:hover{
    background-color: darkslategrey;
    color: darkgrey;
}

.carritoVacio{
    display: flex;
    justify-content: center;
}
.carritoNoVacio{
    display: none;
}
.productAdd{
    background-color: snow;
    border-radius: 15px;
    scale: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.selectCantidad{
    display: flex;
    justify-content: center;
}
.selectCantidad select{
    font-size: 14px;
}

.barra_footer {
    display: flex;
    flex-direction: row;
}

.barra_footer a {
    margin: 0.5rem;
    padding: 0.25rem;
}